@model DatabaseFirstApproach.Models.ExamResult

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Exam Result</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            @Html.AntiForgeryToken()

            <input type="hidden" name="examId" value="@Model.ExamId" />
            <input type="hidden" name="studentId" value="@Model.StudentId" />
            <input type="hidden" name="courseId" value="@Model.CourseId" />

            <input type="hidden" asp-for="ExamId" />
            <input type="hidden" asp-for="StudentId" />
            <input type="hidden" asp-for="CourseId" />

            <div class="form-group">
                <label asp-for="Marks" class="control-label"></label>
                <input asp-for="Marks" class="form-control" />
                <span asp-validation-for="Marks" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}