@using Microsoft.AspNetCore.Identity
@using RoleBasedAuth.Models.Domain

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    @{
        var currentUser = await UserManager.GetUserAsync(User);

    }

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            @* <span class="nav-link text-dark">Hello @currentUser?.Name!</span> *@
            <a class="nav-link text-dark" asp-controller="User" asp-action="EditProfile">
                Hello @currentUser?.Name!
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>

