@* @{
    ViewData["Title"] = "Students details";
}
<div>
    <h1>Student Registration :</h1>
</div>
<a asp-controller="Home" asp-action="Create">+ Create Student</a><br />
<a asp-controller="Home" asp-action="DisplayStudents">Get All Details of Students</a> *@