@model identity.ViewModel.LoginViewModel

<h2>Login</h2>

<form method="post">

    <div>
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <br />

    <div>
        <label>Password</label>
        <input asp-for="Password" class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-success">
        Login
    </button>
    
    
    <div class="form-check mb-3">
        <input asp-for="RememberMe"
               class="form-check-input" />

        <label asp-for="RememberMe"
               class="form-check-label">
            Remember Me
        </label>
    </div>

</form>