@model identity.ViewModel.ProfileViewModel

<h2>My Profile</h2>

<form method="post"
	  enctype="multipart/form-data">
	@if (!string.IsNullOrEmpty(Model.ExistingImage))
	{
		<img src="~/ProfileImages/@Model.ExistingImage"
			 width="100"
			 height="100"
			 class="rounded-circle" />
	}

	<br />
	<br />

	<button class="btn btn-dark">
		Update Profile
	</button>


    <div class="mb-3">

        <label>Profile Picture</label>

        <input asp-for="ProfileImage"
               type="file"
               class="form-control" />

    </div>
    

    <div class="mb-3">

        <label>First Name</label>

        <input asp-for="FirstName"
               class="form-control" />

    </div>

    <div class="mb-3">

        <label>Last Name</label>

        <input asp-for="LastName"
               class="form-control" />

    </div>

    <div class="mb-3">

        <label>Email</label>

        <input asp-for="Email"
               class="form-control"
               readonly />

    </div>

    <div class="mb-3">

        <label>Address</label>

        <textarea asp-for="Address"
                      class="form-control">
        </textarea>

        </div>

        @* <div class="mb-3">

            <label>Profile Picture</label>

            <input asp-for="ProfileImage"
                   type="file"
                   class="form-control" />

        </div> *@

        @* @if (!string.IsNullOrEmpty(Model.ExistingImage))
        {
            <img src="~/ProfileImages/@Model.ExistingImage"
                 width="150"
                 height="150"
                 class="rounded-circle" />
        }

        <br />
        <br />

        <button class="btn btn-dark">
            Update Profile
        </button> *@

    </form>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success mt-3">
            @ViewBag.Message
        </div>
    }