@model First.netAssigmnet.ViewModel.Attendance_Overview

<h2>Attendance Overview</h2>

<p>Present Today: @Model.PresentToday</p>
<p>Absent Today: @Model.AbsentToday</p>
<p>Attendance Percentage: @Model.AttendencePercentage%</p>


