<h2>Dashboard</h2>

<a asp-controller="Tasks" asp-action="Index" class="btn btn-primary">
    Task List
</a>

<a asp-controller="Tasks" asp-action="MyTasks" class="btn btn-info">
    My Tasks
</a>

<a asp-controller="Tasks" asp-action="Create" class="btn btn-success">
    Create Task
</a>

<a asp-controller="Auth" asp-action="Logout" class="btn btn-danger">
    Logout
</a>

<a asp-controller="Users" asp-action="Index" class="btn btn-warning">
    Users
</a>