@model RoleBasedAuth.Models.ViewModel.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}
<h2 style="text-align:center; margin-top:40px;">Change Password</h2>
<div style="width:300px; margin:auto; margin-top:30px;">

<form asp-controller="Home" asp-action="ChangePassword" method="post">

    <div asp-validation-summary="ModelOnly" style="color:red;"></div>

    <div>
        <label>Email</label><br />
            <input asp-for="Email" style="width:100%; padding:10px;" />
        <span asp-validation-for="Email" style="color:red;"></span>
    </div>
   

    <div>
        <label>Old Password</label><br />
            <input type="password" asp-for="Password" style="width:100%; padding:10px;" />
        <span asp-validation-for="Password" style="color:red;"></span>

    </div>
   

    <div>
        <label>New Password</label><br />
            <input type="password" asp-for="NewPassword" style="width:100%; padding:10px;" />
        <span asp-validation-for="NewPassword" style="color:red;"></span>
    </div>
   


    <div>
        <label>Confirm Password</label><br />
            <input type="password" asp-for="ConfirmPassword" style="width:100%; padding:10px;" />
        <span asp-validation-for="ConfirmPassword" style="color:red;"></span>
    </div>
    </br>

        <button type="submit" style="width:100%; padding:10px;">Change Password</button>

</form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}