@model EmployeeTaskManagementSystemMVC.ViewModels.UserVM

<h2>User Details</h2>

<p><b>Id:</b> @Model.Id</p>
<p><b>Full Name:</b> @Model.FullName</p>
<p><b>Email:</b> @Model.Email</p>
<p><b>Role:</b> @Model.Role</p>

<a asp-action="Index" class="btn btn-secondary">Back</a>