@model students.ViewModels.Dashboard.AttendanceOverviewViewModel

<div class="card p-3">
    <h3>Attendance Overview</h3>

    <p>Present Students: @Model.PresentStudents</p>

    <p>Absent Students: @Model.AbsentStudents</p>

    <p>Attendance Percentage: @Model.AttendancePercentage %</p>

    <h5>Recent Attendance</h5>

    <ul>
        @foreach (var item in Model.RecentAttendances)
        {
            <li>@item</li>
        }
    </ul>
</div>