@model students.ViewModels.Dashboard.QuickMetricsViewModel

<div class="card p-3">
    <h3>Quick Metrics</h3>

    <p>Total Teachers: @Model.TotalTeachers</p>

    <p>Total Parents: @Model.TotalParents</p>

    <p>Total Courses: @Model.TotalCourses</p>

    <p>Total Classrooms: @Model.TotalClassrooms</p>
</div>