@model SchoolManagement.Models.ViewModel.DashboardViewModel

<h2>Quick Matrics</h2>

<h6>Total Teachers : @Model.TotalTeachers</h6>

<h6>Total Parents : @Model.TotalParents</h6>

<h6>No. Of Courses Offered : @Model.TotalCourses</h6>

<h6>Total Grades : @Model.TotalGrades</h6>