@model First.netAssigmnet.ViewModel.Quick_Metrics

<h2>Quick Metrics</h2>

<p>Total Teachers: @Model.TotalTeachers</p>
<p>Total Parents: @Model.TotalParents</p>

<p>Total Courses: @Model.TotalCourses</p>
<p>Total Grades: @Model.TotalGrades%</p>