@model SchoolManagementSystem.ViewModels.DashboardViewModel
<div class="bar" >
<h1>School Dashboard</h1>

<partial name="_StudentStatistics" model="Model" />

<partial name="_AttendanceOverview" model="Model" />

<partial name="_ExamOverview" model="Model" />

<partial name="_QuickMetrics" model="Model" />
</div>