@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color: lightblue; padding:80px; margin-top:150px">
    <h1 class="display-4" style="color:darkblue;">
        Welcome Student Dashboard
    </h1>
</div>