@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<img src="~/img/img4.jfif" class="d-block w-100" alt="image 1..." height="300" width="50">