
@{
    ViewData["Title"] = "Index";
}
<div class="container">
<h1>School Management System</h1>

<ul>
    <li>
        Student Management
     </li>
    <li>
        Classroom Management
    </li>
    <li>
        Course Management
    </li>
    <li>
        Exam Management
    </li>
    <li>
        Exam Results
    </li>
</ul>
</div>